# {{ ansible_managed | comment }}
# PostgreSQL Client Authentication Configuration File
# ===================================================
#
# Refer to the "Client Authentication" section in the PostgreSQL
# documentation for a complete description of this file.  A short
# synopsis follows.
#
# This file controls: which hosts are allowed to connect, how clients
# are authenticated, which PostgreSQL user names they can use, which
# databases they can access.  Records take one of these forms:
#
# local      DATABASE  USER  METHOD  [OPTIONS]
# host       DATABASE  USER  ADDRESS  METHOD  [OPTIONS]
# hostssl    DATABASE  USER  ADDRESS  METHOD  [OPTIONS]
# hostnossl  DATABASE  USER  ADDRESS  METHOD  [OPTIONS]
#
# TYPE  DATABASE        USER            ADDRESS                 METHOD

# Default:
{% for client in postgresql_pg_hba_entries_default %}
{% if client.comment is defined %}
# {{client.comment}}
{% endif %}
{{client.type}}  {{client.database}}  {{client.user}}  {{client.address|default('')}}  {{client.auth_method}}
{% endfor %}

# Additional User custom
{% for client in postgresql_pg_hba_custom %}
{% if client.comment is defined %}
# {{client.comment}}
{% endif %}
{{client.type}}  {{client.database}}  {{client.user}}  {{client.address|default('')}}  {{client.auth_method}}
{% endfor %}

